body  {
    font-family: century gothic;
    margin: 20px;
    padding: 0;
    background-color: rgb(176, 222, 236);
}

h1  {
    text-align: center;
    color: rgb(12, 1, 1);
}
form  {
    max-width: 600px;
    margin: auto;
    background-color: rgb(3, 53, 68);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    padding: 20px;
}

fieldset  {
    border: 2px solid rgb(159, 217, 235);
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
    background-color: rgb(18, 166, 211);
}

legend  {
    font-weight: bold;
    text-align: left;
    color: rgb(253, 249, 249);
}

label  {
    display: block;
    margin-bottom: 10px;
    color: rgb(0, 0, 0);
}

input,textarea  {
    width: calc(100% - 1px);
    padding: 8px;
    margin-top: 2px;
    border-radius: 2px;
    border: 1px solid rgb(1, 2, 3);
    box-sizing: border-box;
} 

button  {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: rgb(31, 191, 219);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
    font-size: 18px;
    font-family: century gothic;
}

button :hover  {background-color: rgb(9, 107, 124);}

#resume-display  {
    max-width: 600px;
    margin: auto;
    padding: 20px;
    border-radius: 8px;
    border: 2px solid rgb(159, 217, 235);
    background-color: rgb(18, 166, 211);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

#resume-display h2  {
    color: rgb(32, 30, 30);
}



